@model HomeViewModel


<h1>All Best Cars</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (Car car in Model.favCars)
        {
            @Html.Partial("allCars", car)
        }
    }
</div>


